---
layout: default5
page_name: blog
---

<h3 style=" margin-top: 0.5rem; ">Posts:</h3>

  <table class="table table-borderless table-dark" style="margin-top: 1.5rem;font-size: 13px;">
    <thead style="border-bottom: 1px solid white; border-top: 1px solid rgba(255, 255, 255, 0.15); ">
      <tr>
        <th>Date</th>
        <th>Post</th>
        <th>Category</th>
      </tr>
    </thead>

  <tbody>

	 {% for post in site.categories.main %}  {% if post.url %}
	
    <tr style=" border-bottom: 1px solid rgba(255, 255, 255, 0.15); ">
      <td>
        <a href="{{ post.url }}" style="color: #fff; text-decoration: none;">{{ post.date | date: "%-d %B %Y" }}</a>
      </td>
      <td>
        <a href="{{ post.url }}" style="color: #fff; text-decoration: none;">{{ post.title }}</a>
      </td>
      <td>
        <a href="{{ post.url }}" style="color: #fff; text-decoration: none;">{{ post.cat }}</a>
      </td>
      
    </tr>

	   {% endif %}
          {% endfor %}

  </tbody>
</table>
