---
layout: default5
page_name: blog
---


  <table class="table table-borderless table-dark">
  
  <tbody>
    <tr>
      
      <td style="padding-left: 0px;"><h3>Posts:</h3></td>
      
      
    </tr>
		 {% for post in site.categories.d %}  {% if post.url %}
    <tr>
      
      <td><a href="{{ post.url }}" style=" color: #fff; text-decoration: none; font-size: 1.25rem; font-weight: bold; text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5); line-height: 1.5; font-family: var(--bs-font-sans-serif); ">{{ post.title }}</a></td>
      
    </tr>

	   {% endif %}
          {% endfor %}

  </tbody>
</table>
