---
layout: default2
---


  <div class="list-group w-auto" style=" margin-top: 1rem; ">
	   {% for post in site.categories.main %}  {% if post.url %}  
  <a href="{{ post.url }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
	  {% if post.thumb %}
	  
	    <img src="/img/{{ post.thumb}}.png" style=" border-radius: 5px;  margin-top:6px;" alt="{{ post.title }}" width="160" height="79">
    
	  {% else %}
	     <img src="/img/bt_1.png" style=" border-radius: 5px; margin-top:6px;" alt="{{ post.title }}" width="160" height="79">
	  {% endif %}
	  
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0" style=" font-weight: 600; margin-top: 10px; ">{{ post.title }}</h6>
	      	  {% if post.excerpt %}
	  
	  <p class="mb-0 opacity-75"> {{ post.excerpt }}</p>
	  {% else %}
	    <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
	  {% endif %}
	      
       
      </div>
	    <div class="badge bg-dark" style="max-height: 20px;">{{ post.date | date: "%d-%m-%Y"}}</div>
    </div>
  </a>
	   {% endif %}
          {% endfor %}
</div>

<hr>
<hr>


<div>
	   {% for post in site.categories.main %}  {% if post.url %}

  <a href="{{ post.url }}" class="d-flex flex-row p-3 border list-group-item list-group-item-action" aria-current="true">
	  
	  <div class="col-12 col-md-2">
	  {% if post.thumb %}
	  
	    <img src="/img/{{ post.thumb}}.png" alt="{{ post.title }}" style="border-radius:6px;" width="130" height="79">
    
	  {% else %}
	     <img src="/img/bt_1.png" alt="{{ post.title }}" width="130" height="79">
	  {% endif %}
		  
		   </div>
<div class="col-12 col-md-8">
        <h6>{{ post.title }}</h6>
	      	  {% if post.excerpt %}  
	  <p>{{ post.excerpt }}</p>
	  {% else %}
	    <p>Some placeholder content in a paragraph.</p>
	  {% endif %} 
	  </div>

	  <div class="col-12 col-md-2">
	    <div class="badge bg-dark" style="max-height: 20px;">{{ post.date | date: "%d-%m-%Y"}}</div>
	  </div>
	  
  </a>
	   {% endif %}
          {% endfor %}
</div>
