---
layout: default
---

  <div class="panel panel-primary mt-3 mb-4" style=" border: 1px solid #E5E9EF; border-radius: 5px; ">
   
        <div class="panel-heading">Latest posts</div>

          {% for post in site.categories.main %}
            {% if post.url %}
       
               <a href="{{ post.url }}" class="list-group-item pjaxlink clearfix lista">
                  {{ post.title }}
                    <span class="badge">2022-05-28</span>
                  </a>

            {% endif %}
          {% endfor %}
    
    </div>
