---
title: Posts
layout: page
---
<div class="content-area" style="background: white;">

<ul>
  {% for post in site.categories.main %}
    {% if post.url %}
        <li><a href="{{ post.url }}"><header class="post-header big-title container medium" style="padding:1rem;padding-bottom: 0px;padding-top: 2.0rem;"> <h1 class="post-title" style="font-family: Mulish,sans-serif;font-size: 28px;font-weight: 800;letter-spacing: -.5px;line-height: 1.3;margin: 0 0 15px;word-break: break-word;">{{ post.title }}</h1> </header></a></li>
    {% endif %}
  {% endfor %}
</ul>

<ul>
  {% for post in site.categories.nlp %}
    {% if post.url %}
        <li><a href="{{ post.url }}"><header class="post-header big-title container medium" style="padding:1rem;padding-bottom: 0px;padding-top: 2.0rem;"> <h1 class="post-title" style="font-family: Mulish,sans-serif;font-size: 28px;font-weight: 800;letter-spacing: -.5px;line-height: 1.3;margin: 0 0 15px;word-break: break-word;">{{ post.title }}</h1> </header></a></li>
    {% endif %}
  {% endfor %}
</ul>
  
</div>
