---
layout: page2
title: "Posts"
---


	<h1 style=""><a href="/">Çağrı Sarıyıldız</a></h1>
    <p class="top-tag">System Administrator. These are my thoughts on JavaScript, .NET, DevOps, and other web development topics. Check out my <a href="resume">résumé</a>. View all <a href="/tags/">tags</a>.</p>
    <div class="postlist">
    <div class="postlist-post">
    <h2><a href="/2023/04/21//">Sample Blog Post</a></h2>
    <small class="post-date">April 14, 2023</small>
    <small><a href="/tags/#DevOps" class="post-tag">Tag2</a></small>
    <small><a href="/tags/#PowerShell" class="post-tag">Tag1</a></small>
    <div class="post-body">Excrerpt How to create a cross platform CLI using simple powershell scripts.</div>
    </div>
    
	{% for post in site.categories.main %}  {% if post.url %}
    <div class="postlist-post">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <small class="post-date">{{ post.date | date: "%d-%m-%Y"}}</small>
	{% for tag in page.tags %}
	
    <small><a href="/tags/#{{ tag }}" class="post-tag">{{ tag }}</a></small>
	{% endfor %}

    <div class="post-body">{{ post.content | strip_html | truncatewords: 50 }}</div>
    </div>
	
   {% endif %}
   {% endfor %}
    </div>
	