<div class="container mt-5">
  <div class="card border-0 shadow-sm">
    <div class="row g-0">
      <!-- Author Image -->
      <div class="col-md-3">
        <img 
          src="img/bar.jpg" 
          class="img-fluid rounded-start h-100" 
          alt="Author Image">
      </div>
      <!-- Author Details -->
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title mb-2">Cagri Sariyildiz</h5>
          <p class="card-text text-muted">System Administrator, Software Developer, and Cybersecurity</p>
          <p class="card-text">
            Hi! Im Cagri. Currently living in Ankara/Turkiye. I research and write about various topics including cybersecurity, software and system administration.
    
          </p>
          <!-- Social Media Links -->
          <div>
            <a href="#" class="btn btn-primary btn-sm me-2">
              <i class="bi bi-twitter"></i> Linkedin
            </a>
            <a href="#" class="btn btn-danger btn-sm me-2">
              <i class="bi bi-youtube"></i> Medium
            </a>
            <a href="#" class="btn btn-dark btn-sm">
              <i class="bi bi-github"></i> GitHub
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
