  <div class="menu">
    <div class="menu-header">
      <div class="menu-title">Linux Notes</div>
    </div>
    <div class="menu-content">
      <div class="section-title">Parts</div>
      <div class="section-item">Accessing The System</div>
      <div class="section-item">Using The File System</div>
      <div class="section-item">Shell Scripting</div>
      <div class="section-item">Running Systems</div>
      <div class="section-item"><a href="/docs/linux/managing-local-storage/">Managing Local Storage</a></div>
      <div class="section-item">Managing Systems</div>
      <div class="section-item">Security Basics</div>
      <div class="section-item">SELinux</div>
      <div class="section-item">Containers</div>
      <div class="section-title-sm" style=" font-weight: bold; margin-bottom: 6px; margin-top: 20px;">Managing Local Storage</div>
      <div class="section-item"><a href="/docs/linux/managing-local-storage/disks-and-partitions">Disks And Partitions</a></div>
    </div>
  </div>
