<div class="ui masthead vertical segment" style="border-bottom:0px;">
<div class="ui main text container">
   <div>
    <div>
    <h1 class="ui header">{{ site.title }}</h1>
    </div>
    
   <div>
  <ul>
    <li><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">index/</a></li>
    <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About this theme</a></li>
    <li><a href="https://github.com/heiswayi/hn-barebone">GitHub</a></li>
  </ul> 
       <div>
       </div>    
           
</div>
</div>
