<div class="ui masthead vertical segment" style=" position: relative; z-index: 3; margin: 0em; min-height: 185px; padding: 3em 0em; background-color: #FFFFFF; border-bottom: 1px solid #DDDDDD; box-shadow: none; ">
<div class="ui main text container">
    <h1 class="ui header">{{ site.title }}</h1>
  <p>
    <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">index/</a> &middot; 
    <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About this theme</a> &middot; 
    <a href="https://github.com/heiswayi/hn-barebone">GitHub</a>
  </p> 
</div>
</div>
