<nav class="navbar navbar-light mt-4">
 <div class="container" style="max-width: 512px;margin-left: 0px;padding-left: 0px;">
 <button type="button" class="btn btn-sm btn-light navbtna">👨‍💻 Coding</button>
<button type="button" class="btn btn-sm btn-light navbtna">Web</button>
<button type="button" class="btn btn-sm btn-light navbtna">Notes</button>
<button type="button" class="btn btn-sm btn-light navbtna">Projects</button>
<button type="button" class="btn btn-sm btn-light navbtna">Tags</button>
<button type="button" class="btn btn-sm btn-light navbtna">Archive</button>

 </div>
</nav>
