   <div class="content-column p-3 mt-3 mb-3">
      <header class="pt-3">   
         <div class="d-flex flex-wrap">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none def5_14">
            <img src="/assets/img/csariyildiz_github_io_s.png" alt="csariyildiz.github.io" width="30" height="40" class="def5_15">
            <span class="fs-4 def5_16">csariyildiz.github.io</span>
            </a>
            <nav class="navbar navbar-expand-lg navbar-light def5_17">
               <div class="container-fluid def5_18">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="blog" href="blog">Posts</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">About</a></li>
                     </ul>
                  </div>
               </div>
            </nav>
         </div>
      </header>
   </div>
