<div class="content-area p-3 mt-3 mb-3">
  <!-- Tabs Navigation -->
  <ul class="nav nav-tabs" id="myTab" style=" background-color: #F2F2F2; " role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="posts-tab" style="color: black;" data-bs-toggle="tab" data-bs-target="#posts" type="button" role="tab" aria-controls="posts" aria-selected="true">Recent Posts</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" style="color: black;" id="docs-tab" data-bs-toggle="tab" data-bs-target="#docs" type="button" role="tab" aria-controls="docs" aria-selected="false">Docs</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" style="color: black;" id="code-tab" data-bs-toggle="tab" data-bs-target="#code" type="button" role="tab" aria-controls="code" aria-selected="false">Live Code</button>
    </li>
  </ul>

  <!-- Tabs Content -->
  <div class="tab-content" id="myTabContent">
    <!-- Recent Posts Tab -->
    <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
      <table id="postsTable" class="table table-striped table-bordered" style="font-size:15px;">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Title</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Length</th>
          </tr>
        </thead>
        <tbody>
          {% for post in site.categories.main %}
          {% if post.url %}   
          
          <tr>
            <td>1</td>
            <td>{{ post.date | date: "%Y-%m-%d" }}</td>
            <td><a style=" color: black; text-decoration: none; font-weight: 400; " href="{{ post.url }}" >{{ post.title }}</a></td>
            <td>1</td>
            <td>{% if post.tags %} {% for tag in post.tags %}<a href="#" style="color: black; text-decoration: underline; padding:10px;">{{ tag }}</a>{% endfor %} {% endif %}</td>
            <td>1</td>
          </tr>
          
          {% endif %}
          {% endfor %}
          
        </tbody>
      </table>
    </div>

    <!-- Docs Tab -->
    <div class="tab-pane fade" id="docs" role="tabpanel" aria-labelledby="docs-tab">
      <table id="docsTable" class="table table-striped table-bordered" style="font-size:15px;">
        <thead>
          <tr>
            <th>Doc Id</th>
            <th>Date</th>
            <th>Title</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for doc in site.data.docs %}
          {% if doc.id %}   
          
          <tr>
             <td>{{ doc.id }}</td>
             <td>{{ doc.id }}</td>
             <td>{{ doc.id }}</td>
             <td>{{ doc.id }}</td>
          </tr>
          
          {% endif %}
          {% endfor %}
          
        </tbody>
      </table>
    </div>

    <!-- Live Code Tab -->
    <div class="tab-pane fade" id="code" role="tabpanel" aria-labelledby="code-tab">
      <table id="codeTable" class="table table-striped table-bordered" style="font-size:15px;">
        <thead>
          <tr>
            <th>App Id</th>
            <th>Date</th>
            <th>Title</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for doc in site.data.live_codes %}
          {% if doc.id %}   
          
          <tr>
            <td>{{ doc.id }}</td>
             <td>{{ doc.id }}</td>
             <td>{{ doc.id }}</td>
             <td>{{ doc.id }}</td>
          </tr>
          
          {% endif %}
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>
</div>
