.intro-header .page-heading h1 {
     margin-top: 0;
     font-size: 30px;
}
 .intro-header .page-heading .page-subheading, .intro-header .post-heading .post-subheading {
     font-size: 16px;
     line-height: 1.1;
     display: block;
     font-family: 'PT Serif', Georgia, Times, "Times New Roman", serif;
     font-weight: 300;
     margin: 10px 0 0;
}
 .posts-list {
     list-style-type: none;
     margin-top: 20px;
     font-size: 14px;
     font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
 .posts-list a {
     color: #404040;
}
 .posts-list li {
     margin-bottom: 0.5rem;
}
 .post-date {
     font-size: 16px;
     padding: 3px;
     SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",font-family: monospace;
}
 .blog-post {
    font-size: 14px;
}

.intro-header .post-heading h1 {
    font-size: 30px !important;
}

p {
    line-height: 1.5;
    margin-bottom: 16px;
    margin-top:16px;
}

 .highlight {
    margin-bottom: 16px !important;
font-size: 11px;
}

.intro-header {
    margin-bottom: 0px;
}

.post-preview .post-meta, .post-heading .post-meta {
    font-size: 14px;
}


.smallbox {
  margin: 15px;
    border: 1px solid black;
    padding: 10px;
    font-size: 13px;
}
