body{text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;background-color: var(--white-color);color: var(--primary-text-color);font-family: Mulish,sans-serif;font-size: 16px;line-height: 1.65;transition: background-color .3s var(--animation-base);word-break: break-word;padding: 0px !important;margin: 0px !important;!i;!;!i;!;}

.ab1{
	max-width: 1140px;
}


.nav-link{
	padding-top: 0px !important;
	padding-bottom: 0px !important;

}
.ab2{display: flex;width: 300px;float: left;background-color: #232529;color: white;}
.ab3{}
.ab4{display: flex;margin: 0px !important;padding: 0px;!i;!;
font-family Mulish, sans-serif; 
font-size 24px; 
font-weight 700; 
-webkit-font-smoothing antialiased;
}
.ab5{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding: 0px;
    margin: 0px;
}
.ab6{
    line-height: 24px;
    padding: 0px;
    margin: 0px;
}
.ab7{
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
}
.ab8{margin-left: 20px;font-size: 24px;font-weight: bold;margin-top: 0px;line-height: 24px;color: white;}
.ac1{}
.ac2{
    color: black;
    font-size: 20px;
}
.ac3{
    font-size: 16px;
    font-family: Mulish, sans-serif;
    font-size: 16px;
    line-height: 1.65;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: black;
    text-align: justify;
}
