<!DOCTYPE html>
<html lang="en">
  {% include head_p.html page_title=page.title %}
   <body>
    <div class="" style="display: flex;width: 100% !important;border-bottom: 1px solid #DEE2E6;border-top: 1px solid #DEE2E6;">
      
      <div class="" style="border-right: 1px solid #DEE2E6;width: 16.8%;border-left: 1px solid #DEE2E6;">
              <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <svg class="bi me-2" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                  </svg>
                  <span class="fs-5 fw-semibold">csariyildiz.github.io</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded ">
                      Home
                    </button>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded ">
                      Playground
                    </button>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded ">
                      Posts
                    </button>
                  </li>
                  <li class="border-top my-3"></li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded ">
                      Return
                    </button>
                  </li>
                </ul>
              </div>
            </div><div style="width: 83.2%;">
              
              
              <div style=" border-bottom: 1px solid #DEE2E6; border-right: 1px solid #DEE2E6; padding: 0.618rem; display: flex; " class=""><div class="">csariyildiz/home</div><form class="d-flex" style=" margin-left: auto; margin-right: 0px; ">
                <input class="form-control form-select-sm me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
              </form></div>            
      <div style=" border-right: 1px solid #DEE2E6; height: 500px; "><div >
              <div >
                <div class="" style="display: flex;padding: 1rem!important;height: 500px;">
                                         
                
          <div style=" padding: 0.618rem; width: 57%; " class=""> <div style=" border: 1px solid #DEE2E6; height: 168px; margin-bottom: 1rem!important; border-radius: 8px; ">
              <div >
                <div class="" >
                  <div style=" height: 3.563remz; padding: 4px; border-bottom: 1px solid #DEE2E6; background-color: #E8E8E9; " class="">
                    <h1 style=" font-size: 16px; padding: 8px; margin-bottom: 0px; font-weight: 600; height: 28px; margin-top: 4px; margin-bottom: 4px; " class="">
                      Home
                    </h1>
                  </div>
          
                  <div style=" padding-right: 16px; display: flex; height: 40px; border-bottom: 1px solid #DEE2E6; ">
                    <div style=" width: 364px; padding-left: 16px; padding-top: 8px; line-height: 21px; padding-bottom: 8px; padding-right: 16px; " class="">
                      <a href="playground" class="">Playground</a>
                    </div>
                    <div style=" padding-left: 16px; padding-top: 8px; line-height: 21px; padding-bottom: 8px; padding-right: 16px;">Code samples.</div>
                  </div>
                  <div style=" padding-left: 16px; padding-right: 16px; display: flex; height: 40px; padding-left: 15; border-bottom: 1px solid #DEE2E6; ">
                    <div style=" width: 364px; padding-left: 16px; padding-top: 8px; line-height: 21px; padding-bottom: 8px; padding-right: 16px; ">
                      <a href="playground">Docs</a>
                    </div>
                    <div style=" padding-left: 16px; padding-top: 8px; line-height: 21px; padding-bottom: 8px; padding-right: 16px; ">Files listed in div view.</div>
                  </div>
                            <div style=" padding-left: 16px; padding-right: 16px; display: flex; height: 40px; padding-left: 16; ">
                    <div style=" width: 364px; padding-left: 16px; width: 364px; padding-left: 16px; padding-top: 8px; line-height: 21px; padding-bottom: 8px; padding-right: 16px; ">
                      <a href="playground" >Posts</a></div>
                    <div style=" padding-left: 16px; padding-top: 8px; line-height: 21px; padding-bottom: 8px; padding-right: 16px; ">Blog posts listed in div view. </div>
                  </div>
                </div>
              </div>
            </div>
          </div><div class="side2" style=" width: 296px; /* padding: 1rem!important; */ width: 43%; "><div style=" padding: 1rem !important; "><div style=" border-bottom: 1px solid black; max-width: 248px; " class=" border-bottom mb-3 pb-3" border-bottom:="">About</div><div>sadas</div></div></div>
                  
                </div>
              </div>
            </div></div></div>
          
            </div>
     
   </body>
</html>
