<!DOCTYPE html>
<html lang="en">
   {% include head_p.html %}
   
   <body>
   <div class="container-fluid">

    <div class="row">

      <div class="col">

        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
          <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-5 fw-semibold">csariyildiz.github.io</span>
          </a>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded ">
                Home
              </button>
            
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded " >
                Playground
              </button>
            
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded ">
                Posts
              </button>
             
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded ">
              Docs
              </button>
             
            </li>
          </ul>
        </div>
  
      
              
       
     
      </div>
<div class="col">

  {{ content }}
   
</div>

    </div>


    
   </div>
        
      
     
   </body>
</html>
