<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    
              {% include nav.html %}
    
    <div class="container mt-3 mb-4" style="">
  
    
      <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-9">
          {{ content }}
        
        </div>

<div class="col-md-3 d-none d-md-block">
        
 <ul> 
   <li><a href="#">Text</a></li>
   <li><a href="#">Text</a></li>
   <li><a href="#">Text</a></li>
   
   
   </ul>
        
        </div>
      
      
      </div>
     
   </div>
   {% include footer.html %}
  </body>
</html>
