<!doctype html>
<html lang="en">
  {% include head.html %}
     <style>
      /* Set a max-width for the sidebar and main content */
      .sidebar {
        max-width: 250px;
      }
      .content {
        max-width: calc(100% - 250px);
      }
    </style>
<body cz-shortcut-listen="true">
  <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">My Document</a>
        <!-- Navbar toggler (visible on mobile devices) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Sidebar and main content -->
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 sidebar">
          <nav class="navbar navbar-light bg-light">
            <!-- Sidebar toggler (visible on mobile devices) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Sidebar links -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
              <ul class="navbar-nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Chapter 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Chapter 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Chapter 3</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!-- Main content -->
        <div class="col-md-9 content">
          <h1>Chapter 1</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euis</p>
                  </div>
        </div>
      </div>
    </div>
  
    <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
