---
layout: default2
---

  <div class="list-group w-auto">
	   {% for post in site.categories.main %}  {% if post.url %}  
  <a href="{{ post.url }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
	  {% if post.thumb %}
	  
	    <img src="/img/{{ post.thumb}}.png" style=" border-radius: 5px; " alt="{{ post.title }}" width="160" height="79">
    
	  {% else %}
	     <img src="/img/bt_1.png" style=" border-radius: 5px; " alt="{{ post.title }}" width="160" height="79">
	  {% endif %}
	  
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0" style=" font-weight: 600; margin-top: 10px; ">{{ post.title }}</h6>
        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
      </div>
	    <div class="badge bg-dark" style="max-height: 20px;">{{ post.date | date: "%d-%m-%Y"}}</div>
    </div>
  </a>
	   {% endif %}
          {% endfor %}
</div>
