<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="csariyildiz.github.io">
    <title>{{ page.title }} - csariyildiz.github.io</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
   <link href="/assets/css/docs.css" rel="stylesheet">
</head>
<body>

    <div class="container">
   <aside class="sidebar">
      <div class="menu">
         <div>
            <div"><div>LINUX NOTES</div></div>

             <div><div>
  <div>
    <div>Parts</div>
  </div></div>
<div>
  <div>
    <div>1</div>
    <div>Accessing The System</div>
  </div>
  <div>
    <div>2</div>
    <div>Using The File System</div>
  </div>
  <div>
    <div>3</div>
    <div>Shell Scripting</div>
  </div>
  <div>
    <div>4</div>
    <div>Running Systems</div>
  </div>
  <div>
    <div>5</div>
    <div>Local Storage</div>
  </div>
  <div>
    <div>6</div>
    <div>Managing Systems</div>
  </div>
  <div>
    <div>7</div>
    <div>Security Basics</div>
  </div>
  <div>
    <div>8</div>
    <div>SELinux</div>
  </div>
  <div>
    <div>9</div>
    <div>Containers</div>
  </div>
</div>
</div>
         </div>
      </div>
   </aside>
   <main class="content">
   {{ content }}
   </main>
</div>
    
    </body>
