<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="csariyildiz.github.io">
    <title>{{ page.title }} - csariyildiz.github.io</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
   <link href="/assets/css/docs.css" rel="stylesheet">
</head>
<body>

    <div class="container">
   <aside class="sidebar">
  <div class="menu">
    <div class="menu-header">
      <div class="menu-title">Linux Notes</div>
    </div>
    <div class="menu-content">
      <div class="section-title">Parts</div>
      <div class="section-item">Accessing The System</div>
      <div class="section-item">Using The File System</div>
      <div class="section-item">Shell Scripting</div>
      <div class="section-item">Running Systems</div>
      <div class="section-item">Local Storage</div>
      <div class="section-item">Managing Systems</div>
      <div class="section-item">Security Basics</div>
      <div class="section-item">SELinux</div>
      <div class="section-item">Containers</div>
      <div class="section-title-sm" style=" font-weight: bold; margin-bottom: 6px; margin-top: 20px; ">Managing Local Storage</div>
      <div class="section-item">Disks And Partitions</div>
    </div>
  </div>
   </aside>
{{ content }}  </div>
    
    </body>
