<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="csariyildiz.github.io">
    <title>{{ page.title }} - csariyildiz.github.io</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
   
</head>
<body>

    <div class="container">
   <aside class="sidebar">
      <ul class="menu">
         <div style=" margin-bottom: 50px; ">
            <li style="margin-bottom: 0px;"><span class="non-clickable" style="padding-bottom: 0px;">LINUX NOTES</span></li>
         </div>
      </ul>
   </aside>
   <main class="content">
   {{ content }}
   </main>
</div>
    
    </body>
