<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="csariyildiz.github.io">
    <title>{{ page.title }} - csariyildiz.github.io</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
   <link href="/assets/css/docs.css" rel="stylesheet">
</head>
<body>

<div class="container">
   <aside class="sidebar">
 {% include docmenu.html%}
   </aside>

        <main class="content" style="display: flex;">
<div style=" width: 100%; margin: 1rem; margin-left: 5rem; ">
<div style=" font-size: 30px; font-weight: bold; margin-top: 10px; margin-bottom: 10px; border-bottom: 1px solid black; padding-bottom: 10px; ">
 {{ page.title | escape }}
  </div>

  <div class="content" style="display: flex;padding-left: 0px;">
   {{ content }} 
    </div>
</div>
</main>

        
 </div>
    
    </body>
