---
layout: default2
---

    
  <div>

  <div class="row">
<div style=" padding-left: 2.0rem; ">
             <article class="content" itemscope itemtype="http://schema.org/BlogPosting" style="">
   <div class="article-head mt-2 mb-2" style="padding: 2rem;padding-bottom:0rem;padding-left: 0px;padding-top: 0rem;">
           <h2>{{ page.title | escape }}</h2>
           </div>     
           
       <div class="mt-3 mb-3" style="padding:2rem;padding-top:0rem;padding-left: 0px;">
     {{ content }}
       </div>
          </article>
      
      
  </div>
 </div>
</div>
 
