---
layout: default2
---

    
  <div>

  <div class="row">
<div style=" padding-left: 1.6rem; ">
             <article class="content" itemscope itemtype="http://schema.org/BlogPosting" style="">
   <div class="article-head mt-2 mb-2" style="padding: 2rem;padding-bottom:0rem;padding-left: 0px;padding-top: 0rem;">
           <h2 style="margin-top: 1.6rem !important;border-bottom: 1px solid #ced4da;padding-bottom: 0.5rem;">{{ page.title | escape }}</h2>
           </div>     
           
       <div style="">
     {{ content }}
       </div>
          </article>
      
      
  </div>
 </div>
</div>
 
