---
layout: playground_table
my_variable: "{{ page.my_variable }}"
---


<div class="row">
    <div class="col">
        <div style=" margin-bottom: 20px; margin-top: 25px; ">
            <select name="selectmaa" style="max-width:200px;" class="form-select form-select-sm" aria-label=".form-select-sm selectmaa" id="selectmaa">
            <option value="L">L</option>
         
            </select>
            </div>
        
          </div>

    <div class="col">
  <div style=" margin-bottom: 20px; margin-top: 25px; ">
      <select name="selectm" style="max-width:200px;" class="form-select form-select-sm" aria-label=".form-select-sm selectm" id="selectm">
      <option value="Docs">Docs</option>
      <option value="Blog">Blog</option>
      <option value="Playground">Playground</option>  
      </select>
      </div>
  
    </div>

    <div class="col">
        <div style=" margin-bottom: 20px; margin-top: 25px; ">
            <select name="selectmx" style="max-width:200px;" class="form-select form-select-sm" aria-label=".form-select-sm selectmx" id="selectmx">
            <option value="ctextbooks">Computer Engineering Textbooks</option>
            <option value="Test2">Test2</option>
            <option value="Test3">Test3</option>  
            </select>
            </div>
        
          </div>


    </div>
  
{{ content }}