<!doctype html>
<html lang="en" class="h-100">
  {% include head.html %}
  <body class="d-flex flex-column h-100">
    
    
<main class="flex-shrink-0">
  <div class="container" style="padding: 0px;max-width: 1436px;">
    
    
      <div class="row">
        
        <div class="col">
          <div class="mt-3">
                <a type="button" href="https://csariyildiz.github.io/" class="btn btn-sm btn-light" style="
    float: right;
">csariyildiz.github.io</a>
            
            
   
          </div>
          <br>
                 <div class="mt-3">
                <a type="button" htef="https://csariyildiz.github.io/" class="btn btn-sm btn-light" style="
    float: right;
                                                                                                                
">About</a>   
          </div><br>
                       <div class="mt-3">
                <a type="button" htef="https://csariyildiz.github.io/" class="btn btn-sm btn-light" style="
    float: right;
">Dark Mode</a>
    
          </div><br>
          
          
          
          </div>

    <div class="col-6">
         <article class="content" itemscope itemtype="http://schema.org/BlogPosting">
   <div class="article-head mt-5 mb-2">
           <h1>{{ page.title | escape }}</h1>
       <small class="content-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
           {{ page.date | date: "%B %d, %Y" }}
          </time>
        </small>
           <hr/>
           </div>     
           
       <div class="mt-3 mb-3">
     {{ content }}
       </div>
          </article>
    </div>
 
    <div class="col">

    </div>
  </div>
    
    

 </div>
  
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container" style="max-width: 680px;">
    <span class="text-muted">Place footer content here. csariyildiz.github.io</span>
  </div>
</footer>


    <script src="assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>




